{% extends 'base/base.html' %}%}
{% load i18n static %}
{% load full_count_products %}


{% block content %}
  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnLeft">
      <div class="wrap">
        <div class="Section-column">
          {% include 'store/catalog/filter.html' %}
        </div>
        <div class="Section-content">
          {% include "store/catalog/sorting.html" %}
          <div class="Cards">
            {% for product in products %}
              {% if product.availability %}
                <div class="Card">
                  <a class="Card-picture" href="{% url 'store:product-detail' slug=product.slug %}">
                    {% if product.preview %}
                      <img src="{{ product.preview.url }}"/>
                    {% else %}
                      <img src="{% static 'assets/img/content/home/placeholder.png' %}"
                           alt="empty_photo"/>
                    {% endif %}
                  </a>
                  <div class="Card-content">
                    <strong class="Card-title">
                      <a href="{% url 'store:product-detail' slug=product.slug %}">{{ product.name }}</a>
                    </strong>
                    <div class="Card-description">
                      <div class="Card-cost">
                        {% if product.get_average_price != None %}
                          {% if product.get_discount_price %}
                            <span class="Card-priceOld">${{ product.get_average_price }}</span>
                            <span class="Card-price">${{ product.get_discount_price }}</span>

                          {% else %}
                            <span class="Card-price">${{ product.get_average_price }}</span>
                          {% endif %}

                        {% else %}
                          <span>{% translate 'Нет в продаже' %}</span>
                        {% endif %}
                      </div>
                      <div class="Card-category">
                        {% for tag in product.tags.all %}
                          {% if not forloop.last %}
                            {{ tag }}
                          {% else %}
                            {{ tag }}
                          {% endif %}
                        {% endfor %}
                      </div>
                      {% if product.offers.all %}
                        <div class="Card-hover">
                          {% if total_number|count:product.offers.all > 0 %}
                            <a class="Card-btn"
                               href="{% url 'cart:add_product_to_cart' product.offers.first.id %}">
                              <img src="{% static 'assets/img/icons/card/cart.svg' %}"
                                   alt="cart.svg"/>
                            </a>
                          {% else %}
                            <span class="not-sale">{% translate 'Нет в продаже' %}</span>
                          {% endif %}
                          <a class="Card-btn" href="">
                            <form action="{% url 'compare:add_to_comparison' product.id %}"
                                  method="get">
                              <button type="submit">
                                <img src="{% static 'assets/img/icons/card/change.svg' %}"
                                     alt="change.svg"/>
                              </button>
                            </form>
                          </a>
                        </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          {% include "store/paginator.html" %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}