{% extends "store/order/order.html" %}
{% load i18n static %}


{% block order_register %}
  <header class="Section-header Section-header_sm">
    <h2 class="Section-title">{% translate 'Шаг 1. Параметры пользователя' %}
    </h2>
  </header>
  <form class="form" method="post" action="#">
    {% csrf_token %}
    <div class="row">
      <div class="row-block">
        <div class="form-group">
          {{ form.username.label }}
          {{ form.username }}
          <div class="form-error">{{ form.username.errors }}</div>
        </div>
        <div class="form-group">
          {{ form.phone.label }}
          {{ form.phone }}
          <div class="form-error">{{ form.phone.errors }}</div>
        </div>
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email }}
          <div class="form-error">{{ form.email.errors }}</div>
        </div>
      </div>
      <div class="row-block">
        <div class="form-group">
          {{ form.password1.label }}
          {{ form.password1 }}
        </div>
        <div class="form-group">
          {{ form.password2.label }}
          {{ form.password2 }}
          <div class="form-error">{{ form.password2.errors }}</div>
        </div>
        <div class="form-group">
          <a class="btn btn_muted Order-btnReg" href="{% url 'profile:login' %}">{% translate 'Я уже зарегистрирован' %}</a>
        </div>
      </div>
    </div>
    <button class="btn btn_success" type="submit">{% translate 'Дальше' %}</button>
  </form>
{% endblock %}