{% extends "base/base.html" %}
{% load i18n static %}


{% block content %}
  <div class="Middle Middle_top">
    <div class="Section Section_column Section_columnRight Section_columnWide Order">
      <div class="wrap">
        <div class="Section-column">
          <div class="Section-columnSection">
            <header class="Section-header">
              <strong class="Section-title">{% translate 'Прогресс заполнения' %}
              </strong>
            </header>
            <div class="Section-columnContent">
              <div class="NavigateProfile">
                <ul class="menu menu_vt">
                  <li class="menu-item_ACTIVE menu-item">
                    <a class="menu-link" href="#step1">{% translate 'Шаг 1. Параметры пользователя' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#step2">{% translate 'Шаг 2. Способ доставки' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link" href="#step3">{% translate 'Шаг 3. Способ оплаты' %}</a>
                  </li>
                  <li class="menu-item"><a class="menu-link"
                                           href="#step4">{% translate 'Шаг 4. Подтверждение заказа' %}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="Section-content">
          {% if user.is_authenticated %}
            {% block order_create %}

            {% endblock %}

            {% block order_confirm %}
            {% endblock %}
          {% endif %}

          {% block order_register %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}