{% extends "store/order/order.html" %}
{% load i18n static %}
{% load split_user_address %}


{% block order_confirm %}
  {% if order %}
    <form action="" method="post">
      <div class="Middle Middle_top">
        <div class="Middle-top">
          <div class="wrap">
            <div class="Middle-header">
              <h1 class="Middle-title">{% translate 'Заказ' %} №{{ order.id }}
              </h1>
            </div>
          </div>
        </div>
        <div class="Section">
          <div class="wrap">
            <div class="Section-content">
              <div class="Orders">
              </div>
              <div class="Order">
                <div class="Order-infoBlock">
                  <div class="Order-personal">
                    <div class="row">
                      <div class="row-block">
                        <div class="Order-info Order-info_date">
                          <div class="Order-infoType">{% translate 'Дата заказа' %}:
                          </div>
                          <div class="Order-infoContent">
                            {{ order.created_at|date:"Y-M-d" }}
                            {{ order.created_at|time:"H:i" }}
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">{% translate 'ФИО' %}:
                          </div>
                          <div class="Order-infoContent">
                            {{ user.last_name }}
                            {{ user.first_name }}
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">{% translate 'Телефон' %}:
                          </div>
                          <div class="Order-infoContent">{{ order.profile.phone }}
                          </div>
                        </div>
                        <div class="Order-info">
                          <div class="Order-infoType">E-mail:
                          </div>
                          <div class="Order-infoContent">
                            {{ user.email }}
                          </div>
                        </div>
                      </div>
                      <div class="row-block">
                        <div class="Order-info Order-info_delivery">
                          <div class="Order-infoType">{% translate 'Тип доставки' %}:
                          </div>
                          <div class="Order-infoContent">{{ order.get_delivery_type_display }}
                          </div>
                        </div>
                        {% with address=order.profile.address|split_string:" " %}
                          <div class="Order-info">
                            <div class="Order-infoType">{% translate 'Город' %}:
                            </div>
                            <div class="Order-infoContent">{{ address|first }}
                            </div>
                          </div>
                          <div class="Order-info">
                            <div class="Order-infoType">{% translate 'Адрес' %}:
                            </div>
                            <div class="Order-infoContent">{{ address|last }}
                            </div>
                          </div>
                        {% endwith %}
                        <div class="Order-info Order-info_pay">
                          <div class="Order-infoType">{% translate 'Оплата' %}:
                          </div>
                          <div class="Order-infoContent">{{ order.get_payment_display }}
                          </div>

                        </div>
                        <div class="Order-info Order-info_status">
                          <div class="Order-infoType">{% translate 'Статус' %}:
                          </div>
                          <div class="Order-infoContent">{{ order.get_status_display }}
                          </div>
                        </div>
                        <div class="Order-info Order-info_error">
                          <div class="Order-infoType">{% translate 'Оплата не прошла' %}:
                          </div>
                          <div class="Order-infoContent">{% translate 'Оплата не выполнена' %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Cart Cart_order">
                    {% for product in order.products.all %}
                      <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_pict">
                            <a class="Card-pict" href="#">
                              {% if product.preview %}
                                <img
                                    class="Cart-img"
                                    src="{{ product.preview.url }}"
                                    alt="card.jpg"/>
                              {% else %}
                                <img
                                    class="Cart-img"
                                    src="{% static 'assets/img/content/home/placeholder.png' %}"
                                    alt="empty_photo"/>
                              {% endif %}
                            </a>
                          </div>
                          <div class="Cart-block Cart-block_info">
                            <a class="Cart-title"
                               href="{% url 'store:product-detail' product.slug %}">
                              {{ product.name }}
                            </a>
                            <div class="Cart-desc">{{ product.description.card_text }}
                            </div>
                          </div>
                          <div class="Cart-block Cart-block_price">
                            <div class="Cart-price">{{ product.offers.first.unit_price }}$
                            </div>
                          </div>
                        </div>
                        <div class="Cart-block Cart-block_row">
                          <div class="Cart-block Cart-block_amount">
                            {{ product.cart_set.first.quantity }} {% translate 'шт' %}.
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                    <div class="Cart-total">
                      <div class="Cart-block Cart-block_total">
                        <strong class="Cart-title">{% translate 'Итого' %}:
                          <span class="Cart-price">{{ order.total_payment }}$</span>
                        </strong>
                      </div>
                      <div class="Cart-block">
                        <a class="btn btn_primary btn_lg"
                           href="{% url 'store:payment-form' pk=order.id %}">{% translate 'Оплатить' %}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <h1>{% translate 'Заказов пока нет' %}!</h1>
  {% endif %}
{% endblock %}
order.get_delivery_type_display