{% load i18n %}


<div  class="Tabs-block" id="reviews">
    <header class="Section-header">
      <h3 class="Section-title">{% translate 'Отзывы' %}
      </h3>
    </header>
    <div class="Comments">
        {% for review in reviews_num3 %}
          <div class="Comment">
            <div class="Comment-column Comment-column_pict">
              <div class="Comment-avatar"></div>
            </div>
            <div class="Comment-column">
              <header class="Comment-header">
                <div>
                  <strong class="Comment-title">{{ review.author }}
                  </strong><span class="Comment-date">{{ review.created_at }}</span>
                </div>
              </header>
              <div class="Comment-content" >{{ review.comment_text }}</div>
            </div>
          </div>
        {% endfor %}
    {% if reviews_all.3 %}
        </div>
        <a class="Tabs-link" href="#reviews_all">
            <span>{% translate 'Показать ещё' %}</span>
        </a>
    {% endif %}
    {% include "store/product/form-reviews.html" %}
</div>


